@page "/"
@* @layout MainLayout *@

<div class="mode">
    <div class="frase">Guess the Premier League player</div>

    <NavLink href="Classic" class="button-mode">
        <img src="Assets/Rectangulos/RectanguloIndex.svg" alt="Classic">
        <div class="button-title">Classic</div>
        <div class="button-description">Get hints in each try</div>
    </NavLink>

    <NavLink href="Blurred" class="button-mode">
        <img src="Assets/Rectangulos/RectanguloIndex.svg" alt="Blurred">
        <div class="button-title">Blurred</div>
        <div class="button-description">Who is this player?</div>
    </NavLink>


    <NavLink href="CareerPath" class="button-mode">
        <img src="Assets/Rectangulos/RectanguloIndex.svg" alt="Career Path">
        <div class="button-title">Career Path</div>
        <div class="button-description">Guess</div>
    </NavLink>
</div>