@inherits LayoutComponentBase

<div class="container">
    <div class="header">
        <img src="Assets/Header/tuerca.svg" alt="">
        <img src="Assets/Header/LeagueQuest-05.png" alt="">
        <img src="Assets/Header/mundo.svg" alt="">
    </div>

    @* <main class="dynamic-content"> *@
    @Body

    <div class="bot">
        <div class="lq">
            <div>leagueQuest.me</div>
            <div>2024</div>
        </div>
        <div class="policy">Privacy policy</div>
    </div>

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
